#preloader {
  position: fixed;
  inset: 0;
  background: #000;
  color: #e8c62e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#preloader h1 {
  font-size: 8rem;
  letter-spacing: 10px;
}

#preloader p {
  margin-top: 20px;
  animation: fade 1s infinite alternate;
}

@keyframes fade {
  from { opacity: 0.3 }
  to { opacity: 1 }
}
